/* About Page Specific Styles */

.left-content {
  width: calc((100vw - 5*var(--default_margin)) * 0.45);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: calc(2.5*var(--default_margin));
  /* top: calc(2*var(--default_margin)); */
  align-self: flex-start;
  height: fit-content;
}

.left-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--default_padding);
}
