@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@font-face {
    font-family: "Eiko";
    src: url('../Assets/PPEiko-LightItalic.otf') format('opentype');
    font-weight: lighter;
}
:root {
    --black: #212122;
    --white: #fffdf6;
    --primary:#499254;
    --secondary:#c3da2e;
    --border: 2px;
    --default_margin: 100px;
    --default_padding: 30px;
    --detail_padding: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    /* border: 0.5px solid var(--secondary); */
}
::selection{
    background-color: var(--secondary);
}

body {
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}

h1{
    font-family: "Eiko";
    font-weight: lighter;
    font-size: 2em;
}
h2{
    font-family: "Eiko";
    font-weight: lighter;
    font-size: 1.3em;
}
h3{
    font-family: "Eiko";
    font-weight: lighter;
    font-size: 1em;
}
p{
    font-size: 1em;
}
a{
    all: unset;
    font-size: 1em;
    cursor: pointer;
}

a:hover{
    color: var(--primary);
}

li{
    list-style: square;
}
caption{
    font-size: 0.8em;
}

button{
    all: unset;
    width: fit-content;
    height: fit-content;
    padding: 5px var(--detail_padding);
    background-color: var(--white);
    border: var(--border) solid var(--primary);
    border-radius: var(--detail_padding);
    cursor: pointer;
}
button:hover{
    background-color: var(--primary);
    color: var(--white);
}
video{
    border: var(--border) solid var(--primary);
    border-radius: var(--detail_padding);
}
img{
    border: var(--border) solid var(--primary);
    border-radius: var(--detail_padding);
    width: 100%;
    height: auto;
    background-color: var(--secondary)
}
hr {
    /* display: block;
    height: 1px; */
    border: 1px dashed var(--primary);
}
canvas {
    width: 100%;
    height: 100vh;
}

menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* height: calc(var(--default_margin)*1.5); */
    padding: var(--default_padding) calc(var(--default_padding)*2);
    /* background-color: var(--secondary); */
    /* background: -webkit-linear-gradient(top, var(--white) 30%,rgba(255,255,255,0) 100%); */
    /* z-index: 1; */
}
menu div{
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: var(--detail_padding);
}
menu object {
    height: fit-content;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: var(--detail_padding);
}

main{
    display: flex;
    flex-direction: column;
    gap: var(--default_margin);
    margin: calc(2.5*var(--default_margin));
    margin-top: calc(var(--default_margin)*2)!important;
}
menu a{
    font-size: 0.8em;
}

footer{
    /* position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: 40px; /* adjust blocks.js values if you change this*/
    padding: calc(var(--default_padding)/2) calc(var(--default_padding)*2);
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
}
footer div{
    width: fit-content;
    margin-left: auto;
    margin-right: var(--default_padding);
    display: flex;
    flex-direction: row;
    gap: var(--default_padding);
}
footer div a{
    font-size: 0.8em; /*same as caption*/
}
.shapes{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 97vh;
    opacity: 80%;
    z-index: -1;
  }
  .shapes canvas{
    background-color: transparent !important;
  } 
.column1{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: var(--detail_padding);
}
.column2{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--detail_padding);
}
.column3{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: var(--detail_padding);
}
.column4{
    width: 45%; /*make all image changes in .img-gallery*/
}
.project-card .column4{
    width: 60%;
}
.project-card .column3{
    display: none;
}
.flex-responsive{
    display: flex;
    gap: var(--default_padding);
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: calc(var(--default_padding));  
}
.underline{
    text-decoration: underline;
}
.classification{
    color: var(--primary);
}
#favicon{
    border: none;
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;

}

#toTop{
    position: fixed;
    right: var(--default_padding);
    bottom: calc(1.5*var(--default_padding));
    padding: var(--small_padding);
    border: none;
    font-size: 2em;
}
#toTop:hover{
    background-color: transparent;
    color: var(--primary);
}